*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to top, rgb(65, 255, 65), rgb(255, 255, 79));
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;    
    
}

.card-puzzle{
    display: grid;
    perspective: 1000px;

    
}
.card{
    width: 100%;
    height: 100%;
    transition: transform 0.7s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.front-card, .back-card{
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
}

.is-flipped{
    transform: rotateY(180deg);
}

.front-card{
    z-index: 2;
    transform: rotateY(0deg);
    background: rgb(70, 146, 222);
    border: 2px solid whitesmoke;
    border-radius: 10%;
}
/* initially back is hidden */
.back-card{
    transform: rotateY(180deg);
    background: rgb(244, 244, 204);
    border-radius: 10%;
}

.mode-settings{
    font-size: medium;
}